PORT=
DATABASE_URL="postgresql://user:password@localhost:5432/habitflow?schema=public"
JWT_SECRET=
FRONTEND_URL="http://localhost:3000"
JWT_EXPIRE=5d
JWT_SECRET=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
