PORT=
DATABASE_URL="postgresql://user:password@localhost:5432/habitflow?schema=public"
JWT_SECRET=
FRONTEND_URL="http://localhost:3000"
JWT_EXPIRE=5d
JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3333/auth/google/callback

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

SMTP_MAIL=
SMTP_PASSWORD=
SMTP_SERVICE=
STRIPE_API_KEY=
STRIPE_SECRET_KEY=
